#toasts {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}

#toasts .toast {
  margin-bottom: 0.3em;
}

.toast {
  cursor: pointer;
  background-color: #da1212;
  width: 15em;
  padding: 0.5em 1em;
  border-radius: 4px;
}

.toast span {
  color: white;
  font-size: 1em;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  background-color: rgb(180, 180, 180);
  min-width: 20em;
  padding: 2em;
  border-radius: 4px;
}

#root section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: black;
  font-size: 2em;
  text-align: center;
}

.title__gap {
  margin-bottom: 1em;
}

.subtitle {
  color: rgb(100, 100, 100);
  font-size: 1.5em;
}

.button {
  cursor: pointer;
  padding: 0;
  border-width: 0;
  background-color: rgb(17, 70, 143);
  color: white;
  padding: 0.5em 1em;
  border-radius: 4px;
  font-size: 1em;
  min-width: 10em;
}

.button:hover {
  background-color: rgb(37, 90, 163);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__hide {
  display: none;
}

.loader_indicator {
  border: 2px solid #f3f3f3;
  border-top: 2px solid rgb(37, 90, 163);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list__gap {
  margin-bottom: 2em;
}

.list__gap-s {
  margin-bottom: 1em;
}

.list_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.list_head {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
}

.list_tail {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  align-items: flex-end;
}
